body {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(33,33,33);
}

.navbar-cv {
    background-color: rgb(33,33,33);
}

.jumbotron {
    background-image: url("../img/bg-landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    opacity: 100%;
}

.jumbotron img {
    max-width: 30%;
    background-size: cover;
    border-radius: 50%;
}

.name {
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
}

.social-media img {
    width: 100px;
}

.about {
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-header h1{
    color: #4C70EF;
    font-size: 24px;
    font-weight: bold;
}

.about-name p {
    color: #FFF;
    font-size: 30px;
}

.about-content p {
    margin-top: 8px;
    margin-bottom: 16px;
    color: #B0ADAD;
    font-size: 16px;
}

.about-content .look-mycv a {
    background-color: #4C70EF;
    border-radius: 12px;
}

.about-content .look-mycv a:hover {
    background-color: #264ddb;
    border-radius: 12px;
}

h1.what-i-do-header {
    color: #4C70EF;
    font-size: 24px;
    font-weight: bold;
}

.what-i-do-sub-header {
    color: #FFF;
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.programming-language img {
    width: 40px;
}

.activity {
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}